.category {
  margin-bottom: 16px;
}
.category h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.category ul {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.category li{
  list-style:none;
}
