h1 {
  font-family: Bebas Neue, cursive;
  font-size: 36px;
  letter-spacing: 1px;
  margin-right: 32px;
  color: #b81430;
}

nav .primary-navigation {
  display: flex;
  align-items: center;
}
nav .primary-navigation .navigation-links {
  display: inline;
}
nav .primary-navigation .navigation-links li {
  display: inline-block;
  margin-right: 18px;
}
nav .primary-navigation .navigation-links li.active {
  font-weight: 700;
}
