
.hero-content {
  margin-top: 200px;
  margin-bottom: 200px;
}
.hero-content h3 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #333;
}
.hero-content p {
  font-size: 24px;
  margin-bottom: 24px;
  max-width: 600px;
  line-height: 1.4;
}
