.wine {
  width: 300px;
  margin-right: 4px;
  position: relative;
}
.wine img {
  border-radius: 4px;
  height: 205px;
}


.wine .new-badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #b81430;
  color: #fff;
  font-weight: 700;
  padding: 8px 12px;
}
