.wine .amount-consumed {
  padding: 0 48px 16px 48px;
}
.wine .amount-consumed progress {
  width: 100%;
  height: 4px;
  background-color: #4d4d4d;
  border: none;
}
.wine .amount-consumed progress::-moz-progress-bar,
.wine .amount-consumed progress::-webkit-progress-bar {
  background-color: #b81430;
}

.wine .new-badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #b81430;
  color: #fff;
  font-weight: 700;
  padding: 8px 12px;
}
